$azul-primario: #00324D;
$naranja-primario: #FF6C20;
$verde-primario: #39a900;
$azul-secundario: #6fccff;

.NavbarComputers{
    width: 15%;
    border-bottom: #39a900 solid 15px;
}

.NavbarCelulares{
    width: 4rem;
}


@media (max-width: 1280px) {//tablets
    .NavbarComputers{
        display: none;
    }
  
}

