.main {
    overflow-y: hidden;
    display: flex;
    background-color: rgb(249, 250, 251);
    height: 100vh;
    .section {
        margin: 1em;
        margin-left: 266px;
        overflow-y: hidden;
        // background-color: bisque;
        width: 100%;
    }
    @media (max-width: 767px) {
        .section {
            margin-left: 1em;
        }
    }
}