$azul-primario: #00324D;
$naranja-primario: #FF6C20;

.actions_table {
    display: flex;
    gap: 0.8em;
    .edit_button_table {
        background-color: $azul-primario;
        color: #fff;
        font-size: 1em;
        padding: 7px;
        border-radius: 7px;
        transition: all .2s;
        &:hover {
            background-color: #000;
        }
    }
}