.main {
    overflow-y: hidden;
    display: flex;
    height: 100%;
    .section {
        margin: 1em;
        overflow-y: hidden;
        // background-color: bisque;
        width: 100%;
        padding: 1em;
    }
}