$azul-primario: #00324D;
$azul-secundario: #6fccff;
$naranja-primario: #FF6C20;

.container {
    max-height: 100vh;
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    border-radius: 1em;
    padding: 1em;
    padding-top: 0;
    margin: 1em;
    overflow-y: auto;
    background-color: rgb(243, 243, 243);

    .actions_table {
        display: flex;
        gap: 0.8em;

        .edit_button_table {
            background-color: $azul-primario;
            color: #fff;
            font-size: 1em;
            padding: 7px;
            border-radius: 7px;
            transition: all .2s;

            &:hover {
                background-color: #000;
            }
        }

        // .delete_button_table {
        //     background-color: rgb(255, 60, 60);
        //     color: #fff;
        //     font-size: 1em;
        //     padding: 7px;
        //     border-radius: 7px;
        // }
    }

    .container_button_add {
        text-align: center;
        background-color: rgb(243, 243, 243);
        border-radius: 7px;
        width: 100%;
        padding: 1em 0;

        h3 {
            padding: 0.5em 0.5em 0 0.5em;
            text-align: center;
            font-size: 2em;
            font-weight: 700;
        }
        hr {
            margin: 1em 0;
            background-color: #000;
            border: 0.1px solid #dedede;
        }
        a {
            display: inline-block;
            background-color: $azul-primario;
            color: #fff;
            padding: 8px 12px;
            font-size: 0.9em;
            font-weight: 500;
            transition: all .2s;
            border-radius: 8px;
            text-align: left;

            &:hover {
                background-color: #000;
            }
        }

        .search {
            display: flex;
            gap: 1em;
            align-items: center;
            justify-content: space-between;
            margin-top: 1em;

            .filter {
                display: flex;
                gap: 0.5em;
                align-items: center;

                svg {
                    font-size: 1.3em;
                    color: $azul-primario;
                }

                input {
                    padding: 5px 8px;
                    border-radius: 7px;
                    outline: 1px solid gray;

                    &:focus {
                        outline: 1px solid $azul-primario
                    }
                }
            }

            .export {
                display: flex;
                gap: 1em;
                a {
                    display: flex;
                    align-items: center;
                    gap: 0.3em;
                    background-color: $azul-secundario;
                    color: $azul-primario;
                    padding: 8px 12px;
                    font-size: 0.9em;
                    font-weight: 600;
                    transition: all .2s;
                    border-radius: 8px;
                    text-align: left;

                    &:hover {
                        background-color: $azul-secundario;
                    }
                }
            }
        }
    }

    .container_cursos {
        display: flex;
        flex-direction: column;
        min-height: 640px;
        max-height: 640px;
        // box-sizing: border-box;
        background-color: #fff;
        border-radius: 7px;
        padding: 1em;
        gap: 1em;
    }
}

@media (max-width: 960px) {
    .search {
        input {
            width: 100%;
            min-width: 200px;
        }
    }
}