$azul-primario: #00324D;
$font-medium: 500;


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // position: fixed;
    // width: 100%;

    .message_header {
        background-color: $azul-primario;
        color: #fff;
        font-weight: 400;
        padding: 0.5em;
        text-align: center;
        width: 100%;
    }
    @media screen and (max-width: 768px) {
        .message_header {
          display: none !important;
      }
    }
    .nav {
        display: flex;
        align-items: center;
        max-width: 1024px !important;
        width: 100%;
        justify-content: space-between;
        padding: 1em;
        
        ul {
            display: flex;
            gap: 1.5em;

            li {
                font-weight: 500;
                transition: all .1s;
                border-bottom: 1px solid transparent !important;
                &:hover{
                    border-bottom: 1px solid black !important;
                }
            }
        }
        .login_nav {
            .me {
                display: flex;
                align-items: center;
                gap: 7px;
                background-color: $azul-primario;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px !important;
                color: #fff;
                padding: 12px;
                border-radius: 12px;
                transition: all .2s;
                cursor: pointer;
                &:hover {
                    background-color: #000;
                }
                svg {
                    display: block;
                    font-size: 1.2em;
                }
                .show {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    background-color: $azul-primario;
                    align-items: center;
                    justify-content: center;
                    top: 2.6em;
                    width: 150px;
                    border-radius: 7px;
                    padding: 7px;
                    height: auto;
                    opacity: 1;
                }
                .hide {
                    position: absolute;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    top: 3em;
                    width: 200px;
                    opacity: 0;
                    height: 0;
                } 
            }
        }
    }
}

@media screen {
    
}
