$azul-primario: #00324D;
$naranja-primario: #FF6C20;

.container {
    max-height: 100vh;
    width: 100%;
    border-radius: 1em;
    padding: 1em;
    padding-top: 0;
    margin: 1em;
    position: relative;
    overflow-y: auto;
    background-color: rgb(243, 243, 243);
    .container_create{
        height: 100%;
        .select {
            cursor: pointer;
            width: 50%;
            padding: 10px;
            border-radius: 7px;
            outline: none;
            option {
                text-transform: capitalize;
            }
        }
        .create_course {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            .create_course_title {
                text-align: center;
                background-color: rgb(243, 243, 243);
                display: flex;
                flex-direction: column;
                gap: 2em;
                border-radius: 7px;
                width: 100%;
                padding: 1em;
                h3 {
                    padding: 0.5em 0.5em 0 0.5em;
                    text-align: center;
                    font-size: 2em;
                    font-weight: 700;
                }
                input {
                    width: 50%;
                    padding: 1em;
                    border-radius: 7px;
                    border: none;
                    outline: 2px solid $azul-primario;
                    font-size: 1em;
                    font-weight: 500;
                    &:focus {
                        outline: 2px solid $naranja-primario;
                    }
                }
            }
            .create_course_button {
                display: flex;
                width: 50%;
                justify-content: space-between;
                align-items: center;

                button {
                    background-color: #00324D;
                    color: #fff;
                    padding: 0.7em 1em;
                    border-radius: 7px;
                    transition: all .2s;
                    &:hover {
                        background-color: #000;
                    }
                }
            }
        }
    }
}